# NOTE: example of global owners (remove @busla at some point)
*                                                  @benediktmag @busla

# NOTE: codeowner example
src/projects/forsida                               @TryggviKalman