# We should ignore everything in this directory
__pycache__
*.pyc
*.py[cod]
_build
bin/
develop-eggs/
dist/
eggs/
lib64/
parts/
sdist/
dist/
var/
*.egg-info/
.installed.cfg
.vscode
.python-version
_build/
build/
.env
.mypy_cache
*.zip
*.ZIP
.DS_Store
*.mo
html
.tmp.*
.github/act
LIST_OF_HOVER_TERMS*
