.button {
	width: 340px;
	background-color:#10099F;
	border-radius:5px;
	border:1px solid #225788;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	/* font-family:Arial; */
	font-size:15px;
	text-align: center;
	padding:12px 37px;
	margin-bottom: 10px;
	margin-left: auto;
  margin-right: auto;
	text-decoration:none;
	text-shadow:0px 1px 0px #283966;
}
.button:hover {
	background-color:#342ead;
	border:1px solid #01447B;
}
.button:active {
	position:relative;
	top:1px;
}
