h1{color:#000069}
h2{color:#000069}
h3{color:#000069}
h4{color:#000069}
h5{color:#000069}

/* Use .. rubric:: for unnumbered headings */
.rst-content p.rubric {
  margin-top: 20px;
  margin-bottom: 6px;
  color:#000069;
  font-size: 130%;
}

.rst-content .linenodiv pre, .rst-content div[class^="highlight"] pre, .rst-content pre.literal-block {
    font-size: 14px;
    border:1px solid #aaa;
    background:#f2f5f9;
    line-height: 1.2;
}
.rst-content .code-block-caption {
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    padding: 0px;
    margin-bottom: 4px;
    text-align: left;
}

/* Reduce space around lists and blockquote: */
p + ul, p + ol, p + blockquote, ul + p, ol + p, blockquote + p {
  margin-top: -13px;
}

p.rubric + ol {
  margin-top: 0px;
}

.rst-content .admonition-title + ol, .rst-content .admonition-title + ul {
  margin-top: 0px
}

/* Increase space between figure and caption */
p.caption {margin-top: 5px;}

.wy-table caption, .rst-content table.docutils caption, .rst-content table.field-list caption {
    font: normal 100%/1 arial, sans-serif;
    font-weight: normal;
    padding: 7px 0;
    text-align: center;
}

.caption-text {font-weight: normal !important;}

.caption-number {font-weight: bold;}

.rst-content code.literal, .rst-content tt.literal {
    font-size: 14px;
    border:0.5px solid #ccc;
    padding: 1px 1px;
    background: none;
    color: #000000;
}

.rst-content table.docutils td, .rst-content table.docutils th, .rst-content table.field-list td, .rst-content table.field-list th, .wy-table td, .wy-table th {
    font-size: 90%;
    margin: 0;
    padding: 5px 6px;
}

.wy-table-responsive table td, .wy-table-responsive table th {
    white-space: wrap !important;
}

.rst-content .important .admonition-title {background: #ffcf00}
.rst-content .important                   {background: #fff0b3}

.rst-content .synidaemi .admonition-title {background: #ffb800}
.rst-content .synidaemi                   {background: #fff0b3}

.rst-content .athugid .admonition-title {background: #f0b37e}
.rst-content .athugid                   {background: #ffedcc}

.rst-content .aefing .admonition-title {background: #1abc9c}
.rst-content .aefing                   {background: #dbfaf4}

.rst-content .python .admonition-title {background: #6ab0de}
.rst-content .python                   {background: #e7f2fa}

.rst-content .regla .admonition-title {background: #F3722C}
.rst-content .regla                   {background: #ffe1d1}

/* Aðvörun (rauð), athugasemd (blá), setning (drapp), skilgreining (ljósgræn), 
og dæmi (appeelsínugult) er skilgreint í edbook.css */
}
