{% extends "!layout.html" %}
{% block extrahead %}


	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script type="text/javascript" src="https://cdn.geogebra.org/apps/deployggb.js"></script>
	<script>ggbAppletId = []; </script>
	{{ scripttags }}

    {{ super() }}
{% endblock %}
{% block linktags %}

	<!-- hoverrole.py css code -->
	<style type="text/css">
		a.tooltip {outline:none; border-bottom: thin dotted; background: #ffeedd}
		a.tooltip strong {line-height:30px;}
		a.tooltip:hover {text-decoration:none;} 
		a.tooltip span {
		    z-index:10;display:none; padding:14px 20px;
		    margin-top:-30px; margin-left:12px;
		    width:310px; line-height:16px;
		}
		a.tooltip:hover span{
		    display:inline; position:absolute; color:#111;
		    border:1px solid #DCA; background:#fffAF0;}
		.callout {z-index:20;position:absolute;top:30px;border:0;left:-12px;}
		    
		/*CSS3*/
		a.tooltip span
		{
		    border-radius:4px;
		    box-shadow: 5px 5px 8px #CCC;
		}
	</style>
	<!-- End hoverrole.py css code -->

	<style type="text/css">
		.sagecell .CodeMirror-scroll {
			overflow-y: hidden;
			overflow-x: auto;
		}
		.sagecell .CodeMirror {
			height: auto;
		}

		/* - Begin equation reference style - */
		h6.eqno{
			display: inline-block;
			padding-left: 10px;
		}

		h6 .headerlink{
			display: inline-block !important;
		}
		h6 .headerlink:after{
			visibility: hidden !important;
		}
		h6 .headerlink:hover:after{
			visibility: visible !important;
		}
		.eqno:hover > .headerlink:after{
			visibility: visible !important;
		}

		table > caption > .headerlink{
			visibility: hidden !important;
		}

		table > caption > .headerlink{
			visibility: hidden !important;
		}
		/* - End - */

	</style>


    {{ super() }}
{% endblock %}

{% block footer %}
        <script>
            window.addEventListener("load", function(){
                for(var i in ggbAppletId){
                    ggbAppletId[i].inject(i);
                }
            });
        </script>

	{{ footerscripttags }}

{% endblock %}
