.rst-content .linenodiv pre, .rst-content div[class^="highlight"] pre, .rst-content pre.literal-block {
    font-size: 13px;
    border:2px solid #aaa;
    background:#f2f5f9;
    line-height: 1.2;
}
.rst-content .code-block-caption {
    font-style: normal;
    font-size: 100%;
    line-height: 1;
    padding: 0px;
    margin-bottom: 4px;
    text-align: left;
}

.rst-content .important .admonition-title {
    background: #ffcf00
}
.rst-content .important {
    background: #fff0b3
}

.rst-content .

.wy-table caption, .rst-content table.docutils caption, .rst-content table.field-list caption {
    font: normal 100%/1 arial, sans-serif;
    font-weight: bold;
    padding: 7px 0;
    text-align: center;
}

.rst-content code.literal, .rst-content tt.literal {
    font-size: 13px;
    padding: 1px 1px;
    color: #000000;
}

h1{color:#000069}
h2{color:#000069}
h3{color:#000069}
h4{color:#000069}
h5{color:#000069}
