#----------------------------------------------
# TODO:
#   Fix "if" conditions in each job, feels redundant.
#   There is alot of replication of steps here since Github actions seems limited.
name: edbook
env:
  SSH_USER: ${{ secrets.EDBOOK_SSH_USER }}
  SSH_KEY: ${{ secrets.EDBOOK_SSH_KEY }}
  SSH_HOST: ${{ secrets.EDBOOK_SSH_HOST }}
on:
  push:
    paths-ignore:
      - "**/README.md"
    branches-ignore:
      - main
  pull_request:
    branches:
      - main
jobs:
  setup:
    name: Setup
    runs-on: ubuntu-20.04
    outputs:
      branch_name: ${{ steps.extract_branch.outputs.branch_name }}
    steps:
      - name: Extract branch name
        id: extract_branch
        shell: bash
        run: |
          echo "::set-output name=branch_name::$(echo ${GITHUB_REF#refs/heads/})"
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: "1.1.6"
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        run: poetry install
        if: steps.cached_poetry_dependencies.outputs.cache-hit != 'true'
  build-all:
    needs: [setup]
    name: Build and deploy
    runs-on: ubuntu-20.04
    steps:
      - name: Check out repository
        uses: actions/checkout@v2
      - name: Set up python
        uses: actions/setup-python@v2
        with:
          python-version: 3.9
      - name: Load cached venv
        id: cached-poetry-dependencies
        uses: actions/cache@v2
        with:
          path: .venv
          key: venv-${{ runner.os }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: "1.1.6"
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Configure SSH
        run: |
          mkdir -p ~/.ssh/
          echo "$SSH_KEY" > ~/.ssh/staging.key
          chmod 600 ~/.ssh/staging.key
          cat >>~/.ssh/config <<END
          Host staging
            HostName $SSH_HOST
            User $SSH_USER
            IdentityFile ~/.ssh/staging.key
            StrictHostKeyChecking no
          END
      - name: Test SSH connection
        run: |
          ssh -o BatchMode=yes -o ConnectTimeout=5 staging echo ok 2>&1
      - name: Build
        id: build
        run: |
          source .venv/bin/activate
          poetry --version
          make build-all
          ls -al _build
      # - name: Sync files to remote host
      #   env:
      #     REMOTE_BASE_DIR: ~/public_html
      #     REMOTE_SUB_DIR: staging/edbook/${{ needs.setup.outputs.branch_name }}
      #   run: |
      #     mkdir -p ${{ github.workspace }}/${REMOTE_SUB_DIR}; mv _build/* $_
      #     ls ${{ github.workspace }}/${REMOTE_SUB_DIR}
      #     rsync -avhizP --stats --progress --relative ${{ github.workspace }}/./${REMOTE_SUB_DIR} staging:${REMOTE_BASE_DIR}/
      # NOTE: Testing production stage, will be merged with the above "Sync files to remote" step.
      #       This will not rsync files to prod due to -n flag but simulate the results.
      - name: Sync files to remote host (production)
        run: |
          if [ "${{github.event.pull_request.merged}}" = true ];
            then
              REMOTE_BASE_DIR="~/public_html";
              REMOTE_SUB_DIR=;
              mv ${{ github.workspace }}/_build/* ${{ github.workspace }}/.
              rm -r ${{ github.workspace }}/_build
            else
              REMOTE_BASE_DIR="~/.public_html";
              REMOTE_SUB_DIR=staging/edbook/${{ needs.setup.outputs.branch_name }};
              mkdir -p ${{ github.workspace }}/${REMOTE_SUB_DIR}; mv _build/* $_
          fi
          echo "Merged to main: ${{github.event.pull_request.merged}}"
          echo "REMOTE_BASE_DIR: $REMOTE_BASE_DIR"
          echo "REMOTE_SUB_DIR: $REMOTE_SUB_DIR"
          ls ${{ github.workspace }}/${REMOTE_SUB_DIR}
          rsync -navhizP --stats --progress --relative ${{ github.workspace }}/./${REMOTE_SUB_DIR} staging:${REMOTE_BASE_DIR}/
